/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.page {
  margin-top: 60px;
}
/* //menu style */

/* navbar css */
.navbar {
  background: transparent !important;
  /* box-shadow: 0px 0px 3px #000; */
  position: fixed;
  transform: translateY(0);
  width: 100%;
  top: 0%;
  z-index: 1;
}
.navbar-brand {
  vertical-align: middle;
  color: white !important;
}
.navbar-brand img {
  background-color: white;
  border-radius: 50%;
}
.navbar-toggler {
  color: white !important;
}

.rotate-anticlock-icon {
  transform: rotate(-180deg);
  transition: 0.5s ease-in;
}
.navbar-toggler:focus,
:active {
  outline: none !important;
}
.rotate-clock-icon {
  transform: rotate(0deg);
  transition: 0.5s ease-in;
}
.nav-item {
  font-size: 1.2rem;
  margin-left: 3px;
}
.nav-link {
  /* color: black !important; */
  cursor: pointer !important;
  color: #ffff !important;
  font-weight: 600;
}
.nav-item:hover {
  background-color: white;
  color: black !important;
  transition: 0.2s ease-in;
  /* border-radius: 10px; */
}

.active {
  background-color: white;
  color: #e30029 !important;
  transition: 0.2s ease-in;
  /* border-radius: 10px; */
}

.nav-item:hover .nav-link {
  color: #e30029 !important;
}
.navbar-light .navbar-toggler {
  border: none;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.sidebar-active-overlay {
  display: block;
  opacity: 1;
}
.left-menu {
  display: block;
  width: 250px;
  position: fixed;
  z-index: 100;
  height: 100vh;
  left: -250px;

  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.sidebar-active {
  left: 0;
}
.side-links-c {
  text-decoration: none !important;
}
.side-links {
  text-align: center;
  vertical-align: middle;
  padding: 6px 0px;
  cursor: pointer;
}
.side-links:hover {
  background-color: #fdf1e5;
  color: #493075;
}
.side-link-active {
  background-color: #fdf1e5;
  color: #493075;
}
.pwa-add-icon {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  outline: none;
  color: white !important;
}
.pwa-add-icon:active,
:focus {
  outline: none;
}
@media only screen and (max-width: 991.98px) {
  .first-link {
    margin-top: 17px;
  }
  .pwa-add-icon {
    display: none;
  }
}

/* animations */
/* navbar animations */
/* navbar slide up  */
.navbar-up-slide {
  transform: translateY(-80px);
  animation: 0.44s example cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* navbar slide down  */
.navbar-down-slide {
  transform: translateY(0px);
  animation: 0.45s example1 cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes example {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-80px);
  }
}
@keyframes example1 {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0px);
  }
}
.shadow {
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -10px;
  /* box-shadow: 0px 0px 3px #000 !important; */
}
.navbar-red {
  /* background: rgba(227, 0, 41, 0.8) !important; */
  background: white !important;
}
.black {
  color: black !important;
}
.white {
  color: white !important;
}
.primary {
  color: rgba(227, 0, 41, 1) !important;
}
.bg-primary {
  background-color: rgba(227, 0, 41, 1) !important;
}

/* single details style */

.img_container {
  width: 100%;
}

.img_box {
  width: 500px;
  height: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 13px 1px #c6c6c6;
}
.content_container {
  width: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.img_box img {
  width: 100%;
  height: 100%;
}

.mobile-view-bottom-box {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 12px;
}
.sub_images_container {
  position: relative;
}
.sub_images_overlay {
  opacity: 0;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.sub_images_overlay p {
  color: white;
  font-size: 2rem;
  text-align: center;
  margin-top: 50%;
  transform: translateY(-50%);
}
.sub_images_overlay:hover {
  opacity: 1;
  transition: 0.3s ease;
}
.sub_images {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  margin: 0px 5px;
  position: relative;
  border: 0.4px solid #c6c6c6;
  box-shadow: 0px 0px 4px 0.3px #c4c4c4;
}
.sub_images_active::after {
  content: "";
  bottom: -12px;
  position: absolute;
  width: 100%;
  left: 0;
  border-radius: 3px;
  border-bottom: 1px solid red;
}

.sub_images img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.line {
  width: 500px;
  border-bottom: 1px solid #c4c4c4;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.content_date {
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

.content_description {
  font-size: 1.03rem;
}

@media only screen and (max-width: 500px) {
  .img_container {
    width: 100%;
  }
  .content_container {
    width: 100%;
  }
  .img_box {
    width: 100%;
    height: 500px;
    border: 1px solid white;
  }
  .img_box img {
    width: 100%;
    height: 100%;
  }

  .mobile-view-bottom-box {
    width: 100%;
    margin-left: 0%;
  }
  .line {
    width: 90%;
    margin-left: 5%;
    border-bottom: 1px solid #c4c4c4;
    transform: translateX(-0%);
    margin-top: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .img_box {
    height: 429px;
  }
}
@media only screen and (max-width: 350px) {
  .img_box {
    height: 380px;
  }
}
@media only screen and (max-width: 300px) {
  .img_box {
    height: 360px;
  }
}
@media only screen and (max-width: 240px) {
  .img_box {
    height: 280px;
  }
}
@media only screen and (max-width: 200px) {
  .img_box {
    height: 200px;
  }
}

/* footer design */

.footer_container {
  width: 100%;
  text-align: center;
  padding: 15px;
  background: #e30029;
}

.footer_container p {
  color: white;
  padding: 0;
  margin: 0;
}

/* //loader */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #e30029;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
